@use '../../styles/breakpoints.scss' as *;

.all-feedbacks-page {
  min-height: 100vh;

  .header-section {
     display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    flex-wrap: wrap;
    gap: 10px;

   .left-col{
      gap: 10px;
      display: flex;
        align-items: center;
    flex-wrap: wrap;

    @include mobile {
         display: grid;
         grid-template-columns: repeat(2, 1fr);
         align-items: center;
         gap: 8px;
         width: 100%;
       }
    }

    .right-col {
      display: flex;
      align-items: center;
      gap: 10px;
      @include mobile {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
        justify-content: space-between;
      }
    }

    .add-btn {
      margin-left: 0%;
      @include laptop {
        margin-left: auto;
      }
    }

  }
  .page-title {
    color: var(--sider-text);
    font-size: 22px;
    font-weight: 600;
  }
  .select-department{
    height: 40px !important;
  }
  .create-dept-btn{
    height: 40px;
  }
  .generate-qr-btn{
    height: 40px;
    background-color: var(--accent);
    border: 1px solid var(--accent);
    outline: none;
    &:hover{
      border: 1px solid var(--accent);
      outline: none !important;
      font-weight: inherit ;
    }
  }

 
}
